/*info-section-------------------------------------------*/
.info {
    max-width: 100%;

    &__container {
      text-align: center;
      padding: 118px 60px;
    }

    &__slogan {
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.61;
      color: var(--logo-color);
      text-transform: uppercase;
    }
  
  
    
}

//смартфон  480+ 
@media screen and (max-width: 767px) {
  .info {
    background-color: var(--headfoot-color);
      background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../image/info-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

//планшет  768+ 
@media screen and (min-width: 768px) and (max-width: 1199px) {
.info {
    background-color: var(--headfoot-color);
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../image/info-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
}
  
//пк  1200+ 
@media screen and (min-width: 1200px) {
  .info {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../image/info-desktop.jpg);
    background-repeat: no-repeat;
    background-color: var(--headfoot-color);
    background-size: center;
    background-position: center;
    
    &__container {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &__slogan {
      font-size: 44px;
      line-height: 1.36;

      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }
}
