:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --text-color: black;
  --accent-color: #2196f3;
  --tel-mail-color: #757575;
  --logo-color: #ffffff;
  --headfoot-color: #2f303a;
  --btn-background-color: #188ce8;
  --team-background-color: #f5f4fa;
  --fill-icon-color: #afb1b8;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}